@import "_variables";
@import "_titles";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caladea:400&display=swap");


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font;
  font-family: "Caladea";
}

.wrap {
  width: 1512px;
}

.italic {
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1512px;
  background-color: white;
  height:72px;
  @extend %miniTitle;
  ul {
    display: flex;
    width: 30%;
    &:last-child {
      justify-content: flex-end;
    }
    li {
      &:nth-child(odd) {
        margin-right: 30px;
      }
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  img {
    width: 50px
  }
}

main {
  margin-top: 72px;
}

.half {
  display: flex;
  margin: 40px 0;
  img {
    width: 50%;
  }
  .half__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBF7F6;
    justify-content: center;
    width: 50%;
    h3 {
      @extend %miniTitle;
      margin-bottom: 50px;
    }
    p {
      width: 55%;
      text-align: center;
      font-size: 32px;
      line-height: 1.3;
      margin-bottom: 50px;
    }
    button {
      background-color: transparent;
      @extend %miniTitle;
      width: 240px;
      height: 55px;
      border: 1px solid $font;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: $font;
        color: white;
      }
    }
  }
}